.navbar {
    background-color: #000000;
    position:fixed;
    z-index : 1;
    top: 0;
    left: 0;
    width: 100%;
}
body {
    background-color: rgba(17, 17, 17, 0.96);
    color: #737373;
}
form {
    background-color: #292929;
    border-radius: 12px;
    padding: 2em;
    margin-bottom: 1em;
}
textarea{
    height: 2em;
}
a{
    color: grey;
}
a:hover{
    color: yellow;
    text-decoration: none;
}
#logo{
    color:yellow;
}
.nav-tabs:hover a{
    color: grey;
}
.row {
    border-bottom: 0.1em solid;
    border-bottom-color: #737373;
}
.seperator {
    width: 100%
}
.btn-default{
    background-color: #8426fd;
    color:yellow;
    border: #8426fd;
}
.btn-default:hover {
    background-color: #7c2eff;
    color: yellow;
}
.btn-danger{
    background-color: red;


}
.btn-danger:hover {
    background-color: red;
    color: yellow;
}

.label-primary{
    background-color: #2a2a2a;
}
.label-default{
    background-color: #8426fd;
    color:yellow;

}
.post-author a{
    color:white;
}

.nav.navbar li a {
    color: blue;
}
/*a:link{*/
    /*color: yellow;*/
/*}a:link{*/
    /*color: yellow;*/
/*}*/
.navbar-brand{
    font-family: 'Audiowide', cursive;
    font-size: 3em;
}
.centered{
    margin: 0 auto;
}
input{
    color: yellow;
    line-height: 2em;
    background-color: #8426fd;
    border-radius: 12px;
    border: #8426fd solid 0.1em;
    height: 2.5em;
}
.leaderboard{
    background-color: #292929;
    width: 100%;
    height: 9em;
    border-radius: 12px;

}
.leaderboard:before {
    content: '';
    position: relative;
    top: 2em; right: -97.85%;
    border-top: 30px solid rgb(26, 26, 26);
    border-left: 30px solid #292929;
    width: 0;
}

.leaderboard:after{
    content: '';
    position: relative;
    bottom: 0.7em; left: 0;
    border-bottom: 30px solid rgb(26, 26, 26);
    border-right: 30px solid #292929;
    width: 0;
}
.col-sm-4 {
    padding: 1em;
    overflow: hidden;
}

.alert {
    background-color: #000000;
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 26em;
    color: white;
    margin-left: 12em;
}

.posts{
    padding: 4em;
    margin: 1em;
    background-color: #292929;
}
.jumbotron {
    border-radius: 12px;
    color: white;
    background-size: cover;
    background-position: center;
    background-image: url(coding.png);
    width: 100%;
    height: 10%;
    background-color: #292929;

}
/*Posts*/

.post-title {
    height: 5.3em;
    overflow: hidden;
    color: white;
}

.post-subtitle {
    height: 3em;
    overflow: hidden;
    color: white;
}
.main-content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #292929;

}
.post-content{
    color: white;
}

.post-tabs{
    width:75%;
    float: left;
    background-color: #292929;
    padding: 1em;
    border-radius: 25px;
}

.post-tabs {

    position: relative;
}

.post-tabs:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 80px solid rgb(26, 26, 26);
    border-left: 80px solid #292929;
    width: 0;
}
.post-tabs:after{
    content: '';
    position: absolute;
    bottom: 0; left: 92.4%;
    border-bottom: 80px solid rgb(26, 26, 26);
    border-left: 80px solid #292929;
    width: 0;
}

.sidebar-right-index{
    background-color: #292929;
    width: 20%;
    float: left;
    margin-left: 5%;
    border-radius: 25px;
    padding: 2em;
}


.sidebar-right-index:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 30px solid rgb(26, 26, 26);
    border-left: 30px solid #292929;
    width: 0;
}

.sidebar-right-index:after{
    content: '';
    position: relative;
    bottom: 0; left: -2em;
    border-bottom: 30px solid rgb(26, 26, 26);
    border-right: 30px solid #292929;
    width: 0;
}
.main-article{
    width: 48%;
    float: left;
    background-color: #292929;
    padding: 2.5%;
    border-radius: 25px;
}
.sidebar-left{
    background-color: #292929;
    width: 20%;
    float: left;
    margin-right: 5%;
    border-radius: 25px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.sidebar-right{
    background-color: #292929;
    width: 20%;
    float: left;
    margin-left: 5%;
    border-top:
    border-radius: 25px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}


.posts {
    padding: 0px;
    border-radius: 25px;
}



div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}



div.post-author {
    font-weight: bold;
    margin-left: 3.5em;

}
div.post-date{
    margin-left: 3.5em;
}


div.post-content {

    min-height: 4.8em;

}


/*Comments*/
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 1.6em 0px 0px 0px;
}

ul.comments li.comment {

    padding: 0.8em;
    border-bottom: 0.1em solid #6e6d70;
}

ul.comments li.comment:nth-child(1) {
    border-top: 0.1em solid #6e6d70;
}

ul.comments li.comment:hover {
    background-color: #6e6d70;
}

div.comment-date {
    float: right;
}

div.comment-author {
    font-weight: bold;
}

div.comment-thumbnail {
    position: absolute;
}

div.comment-content {
    margin-left: 4em;
    min-height: 4.8em;
}

div.comment-form {
    margin: 1.6em 0px 1.6em 0;
}

/*Pagination*/
div.pagination {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.pagination > li > a, .pagination > li > span {
    background-color: black;
}


.pagination li.active a {
  background-color: #8426fd;
  color: white;
    border: white solid 0.1em;
}

.pagination li:hover:not(.active) a {
  background-color: #8426fd;
    color:white;
}



/*Pagedown*/
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #6e6d70;
    border-radius: 12px;
    padding: 4px;
}

div.flask-pagedown-preview h1 {
    font-size: 140%;
}

div.flask-pagedown-preview h2 {
    font-size: 130%;
}

div.flask-pagedown-preview h3 {
    font-size: 120%;
}

/*Fonts*/
.post-body h1 {
    font-size: 140%;
}

.post-body h2 {
    font-size: 130%;
}

.post-body h3 {
    font-size: 120%;
}

.table.followers tr {
    border-bottom: 1px solid #6e6d70;
}



/* Specifically for Footer */

html {
    height: 100%;
    margin:    0 auto;
    max-width: 1366px;


}

body {
    position: relative;
    padding-bottom: 5em;
    min-height: 100%;
    width:100%;
    left:0px;
    right:0px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-top: 5em;

}

/**
 * Footer Styles
 */

.footer {
    color: #b4bcc5;
    position:fixed;
    z-index : 1;
    bottom: 0;
    left: 0;

    padding: 1rem;
    background-color: black;
    width:100%;
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .sidebar-right-index{
        display: none;
        width: 0px;
    }
    .sidebar-right{
        display: none;
        width: 0px;
    }
    .sidebar-left{
        display: none;
        width: 0px;
    }
    .main-article{
        width: 100%
    }
    .post-tabs{
        width: 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
     .sidebar-right-index{
        display: none;
         width: 0px;
    }
    .sidebar-right{
        display: none;
        width: 0px;
    }
    .sidebar-left{
        display: none;
        width: 0px;
    }
    .main-article{
        width: 100%
    }
    .post-tabs{
        width: 100%;
    }


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
     .sidebar-right-index{
        display: none;
         width: 0px;
    }
    .post-tabs{
        width: 100%;
    }


}

