.navbar{
    background-color: #000000;

}
body{
    background-color: #000000;
    color: white;

}
.jumbotron {
    background-image: url(coding.png);
    margin-bottom: 50px;
    color: white;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20%;
}
.col-sm-3{
    padding: 10px;

}
.col-sm-9{
    padding: 10px;
}

.tags{
    float: right;
}
.post-title{
    height: 6em;
    overflow: hidden;
}
.post-subtitle{
    height: 3em;
    overflow: hidden;
}

.recruitment{
    background-color: #e7e306;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 1px 10px 1px 10px;
    position: sticky; top: 100px;




}
.advertising{
    background-color: #2fdd4d;
    border-radius: 25px;
    padding: 1px 10px 1px 10px;
    position: sticky; top: 100px;
}

.red{

    background-color: #cb3030;
    border-radius: 25px;
    margin-top: 10px;
    padding: 1px 10px 1px 10px;
    position: sticky; top: 100px;
}
.sublime{

    border-radius: 25px;
    margin-top: 10px;
    padding: 1px 10px 1px 10px;
    position: sticky; top: 100px;
}

.linux{
    border-radius: 25px;
    margin-top: 10px;
    padding: 1px 10px 1px 10px;
    position: sticky; top: 100px;
}
.signup{
    background-color: #2b5fe3;

    border-radius: 25px;
    margin-top: 10px;
    padding: 1px 10px 1px 10px;
    position: sticky; top: 100px;
}

.footer{
    height: 10%;
    color: dodgerblue;


}



.alert{
    background-color: dodgerblue;
}
.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 5px;

}
.posts {
    list-style-type: none;
    padding: 0px;

}
.post-background {
    background-color: #e7e41e;
    border-radius: 25px;
    padding: 1px 10px 1px 10px;
    margin: 5px;
}



div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}

div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #6e6d70;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #6e6d70;
}
ul.comments li.comment:hover {
    background-color: #6e6d70;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;

}
.pagination > li > a, .pagination > li > span{
     background-color:black !Important;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #6e6d70;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #6e6d70;
}
