{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %} About {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <article class="about-text">

    <h2>What ?</h2>
    <p>
        This site was created as a place for <a href="">myself</a> (and others if there is any interest and I get space)
        to document and share their code related musings. The posts will range in topic from Deep learning to Turing machines,
        HPC to Mobile applications, Data Science to Web Development. In fact whichever way you want to put it.
        My interests in computing are broad and the topics presented here will reflect that.

    </p>
    <h2>Why ?</h2>
    <p>
        Their are many sites like this already, why build another ? I hear you say.
        To be honest I wanted to learn some more about the Python micro-web-framework <a href="">Flask</a>, and I have
        been meaning on starting a blog page for ages. I figured if I went to the effort of building a platform for blogging
        I may actually start writing them blog posts.
    </p>
    <h2>How ?</h2>
    <p>
        I feel I should mention <a href="https://blog.miguelgrinberg.com/index">Miguel Grinberg</a> here, he is the author of
        many of the resources I have used to learn about Flask. I have no affiliation with Miguel but his information is
        good and his explaining game is strong, therefore his totally free
        <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Flask Mega Tutorial </a>
        and the not so free O'Reilly book,
        <a href="https://www.amazon.co.uk/Flask-Web-Development-Developing-Applications/dp/1449372627">Flask: Web Development</a>
        are both recommended reading if you would like to learn about building applications with Flask. If you would
        like to add weight to my claims of of Miguels excellence take a look at his
        <a href="https://www.kickstarter.com/projects/1124925856/the-new-and-improved-flask-mega-tutorial">Kickstarter</a>
        campaign that he held to fund an update to the FREE
        <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Flask Mega Tutorial </a>
        previously mentioned. If you check the link you'll see he raised a total of $15,142 off 569 backers for his efforts.
    </p>
    <p>
        Praise must also be given to the team at Docker. This site is developed and hosted using Docker. This has
        allowed me to maintain a Linux development environment on my Mac that is consistent with the environment that
        I will deploy to. It is the first time I have used Docker in this way and the verdict is out.
        Learning the small amount required to use Docker is well worth the effort in my opinion. You can expect posts
        about Dockers many advantages/disadvantage/workflows in the future.
    </p>

    <h2>When ?</h2>
    <p> This site is the continuation of a project that I worked on while working as an intern within The University Of
        Leeds Advanced Research Computing Department in the summer of 2016. I enjoyed working with the Flask framework
        to create a prototype web application that allowed users to run jobs and access data on the Universities HPC systems.
        When this project was completed I went back to University for my final year but vowed I would pick up the
        Flask framework as soon as I had a chance.
        My Git Repo states June the 28th 2017 as the first day of development so this site has been cluttering up this URL
        x years, x months x days.
    </p>

    <h2>Who ?</h2>

    <p> I go by the username Codehoarder (obviously), you can see more about me here, here and here if you wish but to
        keep it short I'm a computer science graduate who loves writing code, reading geeky articles and generally
        messing with tech. When I am not doing the above (not very often); I am making/listening music, playing squash (recently)
        or going snowboarding.
    </p>

    <h2>What Next ?</h2>
        <p>
            There are a number of updates planned for the site.

            This site currently re-generates pages for every request using server side rendering but a JSON API has been put
            in place to allow the use of AJAX. This will improve the user experience and ultimately the performance of this
            web site. I could have built this site using a client side framework such as Angular JS from the get go and
            this would not be an update, but I wanted to learn about Flask ..... So, a future update it is.

         </p>
        <p>
            Oauth is coming soon.. Facebook/Twitter integration isn't really a feature pretty for a social website, it is
            expected, so of course CodeHoarder must follow suit
        </p>


    </article>

{% endblock %}