{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %} Contact {% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>Contact</h1>
    </div>


  <form class="form-horizontal article-form" action="{{ url_for('main.contact') }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.subject.label }}
    {{ form.subject }}

    {{ form.message.label }}
    {{ form.message }}

    {{ form.submit }}
  </form>

{% endblock %}