{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Flasky{% endblock %}
{% block page_content %}
    <div class="jumbotron text-center">
        <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
        <h2>Welcome to CodeHoarder.</h2>
    </div>
    <div>
        {% if current_user.can(Permission.MODERATE_COMMENTS) %}
            <form class="form article-form" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.title.label(style="height: 1em;") }}
                {{ form.title() }}
                {{ form.sub_title.label(style="height: 1em;") }}
                {{ form.sub_title() }}
                {{ form.topics.label(style="height: 1em;") }}
                {{ form.topics() }}
                {{ form.image.label(style="height: 10px;") }}
                {{ form.image() }}
                {{ form.body.label(style="height: 1em; ") }}
                {{ form.body () }}
                <input type="file">
                <input type="submit" value="Post">
            </form>
        {% endif %}
    </div>
    <div class="main-content">
        <article class="post-tabs">
            <ul class="nav nav-tabs">
                <li{% if not show_followed %} class="active"{% endif %}><a class="pill-tab" href="{{ url_for('.show_all') }}">All</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li{% if show_followed %} class="active"{% endif %}><a class="pill-tab" href="{{ url_for('.show_followed') }}">Followers</a>
                    </li>
                {% endif %}
            </ul>
            {% include '_posts.html' %}
        </article>

        <aside class="sidebar-right-index">
            <h5>Trending:</h5>
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" class="pill-tab" href="#posts">Articles</a></li>
                <li><a data-toggle="pill" class="pill-tab" href="#topics">Topics</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="posts" class="tab-pane fade in active">
                    {% include 'top_twenty_posts.html' %}
                </div>
                <div id="topics" class="tab-pane fade">
                    {% include 'top_twenty_topics.html' %}
                </div>
            </div>
        </aside>
    </div>

    {% if pagination %}
        <div class="text-center pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}

    {% block footer %}
        <footer class="footer navbar-bottom">

            <p>Powered by AWS elastic beanstalk, Docker and Nginx </p>
        </footer>
    {% endblock %}


{% endblock %}





{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}

{% endblock %}
