{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Post{% endblock %}

{% block page_content %}

{% include 'article.html' %}

<h4 id="comments">Comments</h4>
{% if current_user.is_authenticated %}
<div class="comment-form">
    <form class="form form-vertical" method="POST" >
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
       <p>{{ form.body.label(style="height: 10px;") }}</p>
       {{ form.body(style="height: 20px;") }}
        {{ form.submit(style="height: 20px;") }}
    </form>

</div>
{% endif %}
    {% include '_comments.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}
{% endblock %}
